//navbar
.main_navbar_wrap {
  position: sticky;
  top: 0;
  background-color: #000000;
  padding: 12px 10px;
  width: 100%;
  z-index: 999;

  .mobile-menu {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 34px;

      h4 {
        color: #000000;
      }
    }
    .mobile-menu-list {
      ul {
        display: flex;
        flex-direction: column;

        li {
          display: inline-block;
          position: relative;
          padding: 16px;
          color: #000000;
          font-size: 18px;
        }
        li:after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #000000;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }
        li:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
        li:hover {
          background-color: #d2d2d2;
          transition: 0.25s;
        }
      }
    }
    .mobile-close-btn {
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 1.2em;
      color: gray;
      cursor: pointer;
    }
  }

  h4 {
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px;
    padding: 0;
    font-style: normal;
    font-weight: bold;
  }

  ul {
    width: 100%;
    display: none;
    justify-content: space-between;
    flex-flow: row nowrap;
    list-style: none;
    font-family: Apple SD Gothic Neo;
  }
  li {
    display: inline-block;
    position: relative;
    margin-top: 35px;
    color: #ffffff;
    font-size: 13px;
  }
  li:last-child::before {
    content: "";
    // margin-left: 300px;
  }
  li:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
