//navbar
.main_navbar_wrap {
  top: 0;
  background-color: #000000;
  width: 100%;
  z-index: 999;
  padding: 10px;

  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 130px;
  }

  .mobile-menu {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 34px;

      h4 {
        color: #000000;
      }
    }
    .mobile-menu-list {
      ul {
        display: flex;
        flex-direction: column;

        li {
          display: inline-block;
          position: relative;
          padding: 16px;
          color: #000000;
          font-size: 18px;
        }
        li:after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #000000;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }
        li:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
        li:hover {
          background-color: #d2d2d2;
          transition: 0.25s;
        }
      }
    }
    .mobile-close-btn {
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 1.2em;
      color: gray;
      cursor: pointer;
    }
  }

  h4 {
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
  }

  @media screen and (min-width: 728px) {
    display: none;
  }
}

.pc_main_header {
  background-color: #000000;
  padding: 12px 10px;
  width: 100%;
  z-index: 999;

  .pc_navbar_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .lang-toggle-button {
      padding: 0;
      padding-top: 50px;
      width: 300px;
    }

    .title_logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 35px 0 0 115px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 90px;
        border: 3px solid #087bff;
      }
      h4 {
        text-align: center;
        color: #ffffff;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
        padding-left: 10px;
        font-style: normal;
        font-weight: bold;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 30px;
      padding: 30px;
      flex-flow: row nowrap;
      width: 100%;
      list-style: none;
      font-family: Apple SD Gothic Neo;

      li {
        display: inline-block;
        position: relative;
        margin-top: 35px;
        color: #ffffff;
        font-size: 13px;
      }
      li:last-child::before {
        content: "";
      }
      li:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: #ffffff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      li:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      .last {
        background: #0eddc3;
        padding: 10px 20px;
        color: #000000;
      }
      .pre_last {
        padding: 10px 20px;
      }
    }
  }
  @media screen and (max-width: 728px) {
    display: none;
  }
}
