.main_menu_wrap {
  width: 100%;
  height: 100vh;

  q-carousel {
    padding: 20px;

    q-carousel-slide {
      border-radius: 40px;
    }
  }
}

.first_inner_box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(~assets/House-Plate-blog.jpeg);
  background-position: 60% 50%;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 -200px 100px black;

  .text_box {
    text-align: center;
    color: #ffffff;

    h1 {
      font-size: 90px;
      font-weight: bold;
      margin: 20px;
      padding: 0;
      box-shadow: 0 0 100px black;
      border-radius: 5px;
    }
  }
}

.second_inner_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(~assets/man-workout.jpeg);
  background-position: 60% 50%;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 200px 100px black;

  h3 {
    color: #ffffff;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: rgba(77, 77, 77, 0.78);
    margin: 35px;
    padding: 0;
    // width: 300px;
    // height: 300px;
  }
  p {
    overflow-y: scroll;
    color: #ffffff;
    font-size: 14px;
    margin: 50px;
  }
}
.third_inner_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(~assets/dark-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1140px;

  h3 {
    position: relative;
    right: -100px;
    float: right;
    color: #ffffff;
    font-size: 30px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;

    h2 {
      -webkit-text-stroke: 0.5px #ffffff;
      font-size: bold;
      color: #000000;
    }

    .white_h2 {
      color: #ffffff;
      font-size: 50px;
      font-weight: bold;
    }
  }

  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .option-box-one {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid $primary;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;

    .inner-box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .material-icons {
        font-size: 28px;
        color: #000000;
        padding: 3px;
        background-color: #ffffff;
        border-radius: 50px;
      }
      .head {
        font-weight: bold;
        color: #ffffff;
        font-size: 20px;
        padding: 10px;
      }
      .text {
        font-size: 20px;
        color: #ffffff;
      }
    }
  }

  .option-box-one:hover {
    background-color: $primary;
    transition: 0.3s ease-in-out;
  }
}

.fourth_inner_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(~assets/maxresdefault.jpeg);
  background-repeat: no-repeat;
  background-position: 53% 50%;
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 200px 100px black;

  h3 {
    color: #ffffff;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: rgba(77, 77, 77, 0.78);
    margin: 35px;
    padding: 0;
    max-height: 600px;
  }
  p {
    overflow-y: scroll;
    margin: 50px;
    color: #ffffff;
    font-size: 17px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .stroke-h4 {
      -webkit-text-stroke: 0.5px #ffffff;
      font-size: bold;
      color: #000000;
      margin: 7px;
    }

    .no-stroke-h4 {
      font-size: bold;
      color: #ffffff;
      margin: 7px;
    }
  }
}

.fifth_inner_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(~assets/tonal-b.jpeg);
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  box-shadow: inset 0 200px 100px black;
  overflow: hidden;

  h2 {
    color: #ffffff;
    font-weight: bold;
    padding: 30px;
    margin: 0;
  }

  p {
    padding: 30px;
    color: #ffffff;
    font-size: 17px;
  }

  .box-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .inner_box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    width: 100%;
  }

  img {
    width: 300px;
    height: 400px;
    border-radius: 80px;
    padding: 30px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
  }
}

.sixth_inner_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  h4 {
    color: #000000;
    font-weight: bold;
    padding: 30px;
    margin: 0;
  }

  p {
    padding: 30px;
    color: #000000;
    font-size: 17px;
  }

  .box-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .inner_box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    width: 100%;
  }

  img {
    width: 400px;
    height: 450px;
    border-radius: 80px;
    padding: 30px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
  }
}

.seventh_inner_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  h5 {
    color: #000000;
    font-weight: bold;
    padding: 30px;
    margin: 0;
  }

  p {
    padding: 30px;
    color: #000000;
    font-size: 17px;
  }

  img {
    width: 400px;
    height: 450px;
    border-radius: 80px;
    padding: 30px;
  }
}
.eight_inner_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-position: 50% 50%;
  overflow: hidden;

  h5 {
    color: #000000;
    font-weight: bold;
    padding: 5px;
    margin: 0;
  }

  p {
    padding: 5px;
    color: #000000;
    font-size: 17px;
    overflow: scroll;
  }

  img {
    width: 300px;
    height: 350px;
    border-radius: 80px;
    padding: 5px;
  }
}

.achievement {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("~assets/kosmos-dark.jpeg");
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 400px 300px black;
  color: #ffffff;

  .text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

  p {
    font-size: 20px;
    padding: 10px;
  }

  h5 {
    padding: 10px;
  }
}

.pre-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  .inner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    text-align: center;

    img {
      width: 300px;
      height: 200px;
      border-radius: 80px;
      margin: 20px 20px 50px 20px;
    }
    .stroke-h5 {
      margin-top: 30px;
      -webkit-text-stroke: 0.5px #000000;
      font-size: bold;
      color: #ffffff;
    }
    .footer_inner_box {
      h5 {
        color: #000000;
      }
      p {
        padding: 20px;
      }
    }
    .social-icons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      margin-top: 40px;

      i {
        margin: 10px;
        font-size: 28px;
        color: #000000;
      }
    }
  }
}
.footer {
  display: flex;
  background-color: #000000;

  .content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;

    .social-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      margin: 0;
      padding: 0;

      i {
        margin: 0;
        padding: 0;
        font-size: 23px;
        color: #ffffff;
      }
    }
    p {
      color: #8a8a8a;
      font-size: 12px;
      padding-top: 20px;
    }
    .p-white {
      color: #ffffff;
      padding: 0;
      margin: 0;
    }
    .q-input {
      padding-bottom: 10px;
      font-size: 10px;
      color: #ffffff;
    }
    .bold {
      display: flex;
      align-items: center;
      color: #ffffff;
      gap: 5px;
      font-size: 17px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 90px;
        border: 3px solid #087bff;
      }
    }
  }
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}
