.main_menu_wrap {
  width: 100%;
  height: 100vh;
}

.first_inner_box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(~assets/House-Plate-blog.jpeg);
  background-position: 60% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 -200px 100px black;

  .text_box {
    text-align: center;
    color: #ffffff;

    h1 {
      font-size: 90px;
      font-weight: bold;
      margin: 20px;
      padding: 0;
      box-shadow: 0 0 100px black;
      border-radius: 5px;
    }
  }
}

.second_inner_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(~assets/man-workout.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 200px 100px black;

  h3 {
    color: #ffffff;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: rgba(77, 77, 77, 0.78);
    margin: 35px;
    padding: 0;
    max-height: 600px;
  }
  p {
    overflow-y: scroll;
    color: #ffffff;
    font-size: 17px;
  }
}
.third_inner_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(~assets/dark-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1140px;

  h3 {
    position: relative;
    right: -100px;
    float: right;
    color: #ffffff;
    font-size: 30px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;

    h2 {
      -webkit-text-stroke: 0.5px #ffffff;
      font-size: bold;
      color: #000000;
    }

    .white_h2 {
      color: #ffffff;
      font-size: 50px;
      font-weight: bold;
    }
  }

  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .option-box-one {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid $primary;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;

    .inner-box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .material-icons {
        font-size: 28px;
        color: #000000;
        padding: 3px;
        background-color: #ffffff;
        border-radius: 50px;
      }
      .head {
        font-weight: bold;
        color: #ffffff;
        font-size: 20px;
        padding: 10px;
      }
      .text {
        font-size: 20px;
        color: #ffffff;
      }
    }
  }

  .option-box-one:hover {
    background-color: $primary;
    transition: 0.3s ease-in-out;
  }
}

.fourth_inner_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(~assets/maxresdefault.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 200px 100px black;

  h3 {
    color: #ffffff;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: rgba(77, 77, 77, 0.78);
    margin: 35px;
    padding: 0;
    max-height: 600px;
  }
  p {
    overflow-y: scroll;
    margin: 50px;
    color: #ffffff;
    font-size: 17px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .stroke-h4 {
      -webkit-text-stroke: 0.5px #ffffff;
      font-size: bold;
      color: #000000;
      margin: 7px;
    }

    .no-stroke-h4 {
      font-size: bold;
      color: #ffffff;
      margin: 7px;
    }
  }
}

.fifth_inner_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // background: url(~assets/tonal-b.jpeg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(~assets/tonal-b.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  // height: 100vh;
  box-shadow: inset 0 200px 100px black;
  overflow: hidden;

  h2 {
    color: #ffffff;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  p {
    margin: 50px;
    color: #ffffff;
    font-size: 17px;
  }

  .box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 600px;
    height: 600px;
    overflow-y: hidden;
    overflow-x: scroll;
    // white-space: nowrap;
  }

  img {
    width: 600px;
    height: 600px;
    border-radius: 100px;
    padding: 30px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
  }
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}
